.container{
    display:flex;
    justify-content:center; 
    
}

.card:hover{
    cursor:pointer;
}

.card{    
    text-align: center;
    background-color:aqua;
    width: 200px;
    margin: 10px;
}
