.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: aqua;
  margin-bottom: 10px;
  -webkit-box-shadow: 2px 5px 15px -2px rgba(0, 0, 0, 0.41);
  box-shadow: 2px 5px 15px -2px rgba(0, 0, 0, 0.41);
}

.icon{
    font-size: 3rem;
}
